{% extends "layout.html.twig" %}


{% block page_title %}
    MES PARAMETRES
{% endblock %}

{% block content %}



    {#          ---------------------------------------------             #}

    {#       FORMULAIRE       #}
    <form class="well" method="POST" action="add-order">
        {{ form_row(form.quantities) }}


    </form>
    {#       END FORMULAIRE       #}

    {#        ---------------------------------------------           #}





{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Dropify/0.2.2/css/dropify.min.css" integrity="sha256-AWdeVMUYtwLH09F6ZHxNgvJI37p+te8hJuSMo44NVm0=" crossorigin="anonymous" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}


{% endblock %}
