

<!-- ----------------------------------------------------- page afficher mes plat et les remmetre en vente ------------------------------------ -->


<div class="container">
    <div class="button2">
        <a href="#" class="waves-effect waves-light btn-large z-depth-3" id="button2">Mettez en vente votre nouveau plat :)</a>
    </div>

    <div class="ajoutplats col s12 z-depth-3">
        <div class="row  valign-wrapper">
            <div class="col s2"><img class="responsive-img " src="https://www.rd.com/wp-content/uploads/2017/10/12_Citrus_Healthy-Holiday-Food-Gifts-Instead-of-Fruit-Cake_524210419-ch_ch.jpg" id="logo2"></div>
            <div class="col s2">
                <p>Nom du plat</p>

            </div>
            <div class="col s2">
                <p><em>Ingrédient :</em></p>
            </div>
            <div class="col s2">
                <p> <a class="btn-floating btn-large waves-effect waves-light blue" style="font-size: 0.7em">2/parts</a></p>
            </div>
            <div class="col s2">
                <p>Heure</p>
            </div>
            <div class="col s2">
                <p> <a class="btn-floating btn-large waves-effect waves-light green" style="font-size: 0.7em">2€</a></p>
            </div>
        </div>
        <a class="waves-effect waves-light btn button-remettre">Remettre ce plat en vente</a>

    </div>
    <div class="ajoutplats col s12 z-depth-3">
        <div class="row  valign-wrapper">
            <div class="col s2"><img class="responsive-img " src="https://www.rd.com/wp-content/uploads/2017/10/12_Citrus_Healthy-Holiday-Food-Gifts-Instead-of-Fruit-Cake_524210419-ch_ch.jpg" id="logo2"></div>
            <div class="col s2">
                <p>Nom du plat</p>

            </div>
            <div class="col s2">
                <p><em>Ingrédient :</em></p>
            </div>
            <div class="col s2">
                <p> <a class="btn-floating btn-large waves-effect waves-light blue" style="font-size: 0.7em">2/parts</a></p>
            </div>
            <div class="col s2">
                <p>Heure</p>
            </div>
            <div class="col s2">
                <p> <a class="btn-floating btn-large waves-effect waves-light green" style="font-size: 0.7em">2€</a></p>
            </div>
        </div>
        <a class="waves-effect waves-light btn button-remettre">Remettre ce plat en vente</a>

    </div>

    <div class="ajoutplats col s12 z-depth-3">
        <div class="row  valign-wrapper">
            <div class="col s2"><img class="responsive-img " src="https://www.rd.com/wp-content/uploads/2017/10/12_Citrus_Healthy-Holiday-Food-Gifts-Instead-of-Fruit-Cake_524210419-ch_ch.jpg" id="logo2"></div>
            <div class="col s2">
                <p>Nom du plat</p>

            </div>
            <div class="col s2">
                <p><em>Ingrédient :</em></p>
            </div>
            <div class="col s2">
                <p> <a class="btn-floating btn-large waves-effect waves-light blue" style="font-size: 0.7em">2/parts</a></p>
            </div>
            <div class="col s2">
                <p>Heure</p>
            </div>
            <div class="col s2">
                <p> <a class="btn-floating btn-large waves-effect waves-light green" style="font-size: 0.7em">2€</a></p>
            </div>
        </div>
        <a class="waves-effect waves-light btn button-remettre">Remettre ce plat en vente</a>

    </div>



</div>