

    {#          ---------------------------------------------             #}

                            {#      CONTENU      #}


    <div class="container">
        <div class="filtre-accueil">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons">search</i>Recherche avancé</div>
                    <div class="collapsible-body">
                        <form action="#">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="text" class="timepicker" id="timepicker">
                                    <label for="timepicker"><i class="material-icons">access_time</i>Horaires</label>
                                </div>
                                <div class="input-field col s12">
                                    <select multiple>
                                        <option value="" disabled selected>Prix €</option>
                                        <option value="2">2 euros</option>
                                        <option value="3">3 euros</option>
                                        <option value="4">4 euros</option>
                                        <option value="5">5 euros</option>
                                        <option value="6">6 euros</option>
                                        <option value="7">7 euros</option>
                                        <option value="8">8 euros</option>
                                        <option value="9">9 euros</option>
                                    </select>

                                </div>
                                <div class="input-field col s12">
                                    <select multiple>
                                        <option value="" disabled selected>Ingredients</option>
                                        <option value="viande">Viande</option>
                                        <option value="poisson">poisson</option>
                                        <option value="vegetarien">vegetarien</option>
                                        <option value="sans-gluten">sans-gluten</option>
                                        <option value="halal">halal</option>
                                        <option value="casher">casher</option>

                                    </select>

                                </div>

                                <div class="input-field col s12">
                                    <input placeholder="Veuillez mettre votre adresse" id="first_name" type="text" class="validate">
                                    <label for="first_name">Adresse</label>
                                </div>
                                <div class="col s12">
                                    <p class="range-field">
                                        <label for="distance">Distance</label>
                                        <input type="range" id="distance" min="0" max="10" />
                                    </p>
                                </div>
                            </div>


                        </form>
                    </div>
                </li>

            </ul>
        </div>
    </div>