<div class="accueil" style=" height: 300px; background-color: #ffa702; position: relative; padding: 20px; font-family: 'Amatic SC', cursive;">
    <div class="container">
<span>
    <h1 style="font-size: 6em;">HomEat</h1>
    <h2>Commander Des plats faits maison </h2>
    </span>
        <img src="http://www.juniperbarnyc.com/images/about_large_plate.png" class="responsive-img"   alt="" style="position: absolute; bottom: 0; right: 15%; width: 30%;">


    </div>
</div>