{#             ONGLET & MENU             #}


<div class="onglet-menu-container">
    <a class="onglet onglet-menu btn-floating btn-large waves-effect waves-light red right modal-trigger" id="onglet-challenges"   href="#modal1" ><i class="material-icons">local_dining</i></a>

</div>

<!-- Modal Trigger -->


<!-- Modal Structure -->