
<!-- ---------------------------------- SIDEBAR ---------------------------------- -->
<div class="row">

    <div class="col s2 offset-s12 z-depth-3 hide-on-med-and-down"id="sidebar">
        <img src="https://i.imgur.com/LZUvLF5.png" alt="" class="circle responsive-img" id="logo"> <!-- notice the "circle" class -->
        <div class="meilleurcuisto" id="meilleur" >
            <h4 style="text-align: center;"> Top <i class="small material-icons">looks_one</i></h4>
            <h4>Les lasagnes au saumon de Frederic</h4>
            <div style=" width: 100%;">
                <a href="">
                    <img  style=" width: 100%;" class="responsive-img z-depth-1" src="https://www.enviedebienmanger.fr/sites/default/files/styles/bandeau_recette/public/lasagnes_de_saumon_aux_asperges_0.png?itok=kkV2Ct4W" alt="">
                </a>

            </div>

        </div>
        <div class="recettedumoment" id="recette">

            <h4 style="text-align: center;"> LA Recette <i class="small material-icons">restaurant_menu</i> </h4>
            <h5> retouver ici les recettes du moment en détail et leurs créateurs</h5>
            <div style=" width: 100%;">
                <a href="" class="tooltipped" data-position="left" data-tooltip="Le gatin dauphinois d'Emily">
                    <img  style=" width: 100%;" class="responsive-img z-depth-1" src="https://cac.img.pmdstatic.net/fit/http.3A.2F.2Fwww.2Ecuisineactuelle.2Efr.2Fvar.2Fcui.2Fstorage.2Fimages.2Frecettes-de-cuisine.2Frecettes-pour-tous.2Ffamiliale.2Fgratin-dauphinois-traditionnel.2F1089980-2-fre-FR.2Fgratin-dauphinois-traditionnel.2Ejpg/748x372/quality/80/crop-from/center/gratin-dauphinois-traditionnel.jpeg" alt="">
                </a>


            </div>
            <div style=" width: 100%;">
                <a href="" class="tooltipped" data-position="left" data-tooltip="Le poulet coco de Terry">
                    <img  style=" width: 100%;" class="responsive-img z-depth-1" src="https://www.cookomix.com/wp-content/uploads/2016/06/poulet-coco-3-epices-800x600.jpg" alt="">
                </a>
            </div>

        </div>




    </div>



</div>